<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rate my Boulder Gym</span>
  <span class="toolbar__spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize hasBackdrop="true">
  <mat-drawer #drawer [mode]="'over'" class="example-sidenav" mode="side">
    <span class="nav-icons-container">
      <span class="nav-icons-container__inner" routerLink="/rating"
        ><mat-icon>thumbs_up_down</mat-icon> Ratings</span
      >
      <span class="nav-icons-container__inner" routerLink="/data"
        ><mat-icon class="nav-icons-container__inner__icon">equalizer</mat-icon>
        Data</span
      >
    </span>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
